MONGO_URI=your_mongodb_connection_string_here
PORT=5001
JWT_SECRET=your_jwt_secret_here
API_URL=https://lost-found-1-flid.onrender.com
FRONTEND_URL=https://lost-found-ebcf.vercel.app
FRONTEND_URLS=https://lost-found-ebcf.vercel.app,http://localhost:3000,http://192.168.1.5:3000
